<ul class="menu">

     {% for navi in site.data.menu %}
     {% if navi.subcategories != null %}
     <li><a href="{{ navi.href }}" class="page-link">{{
               navi.title }}</a>
          <ul class="sub-menu">
               {% for subcategory in navi.subcategories %}
               <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
               {% endfor %}
          </ul>
          {% else %}
     <li id="{{ navi.id }}" {% if navi.href==page.categories %} class="active" {% endif %} ><a href="{{ navi.href }}"
               class="page-link">{{
               navi.title }}</a>
          {% endif %}
     </li>
     {% endfor %}
</ul>